* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .container {
      max-width: 1800px;
      background: white;
      margin-left: auto;
      margin-right: auto;
   
  }

  html {
      font-size: 18px;
      font-family: 'Old Standard TT', serif;
      font-weight: 400;
  }

/***** header styles *****/

 header {
    position: relative;
    height: 480px;
    overflow: hidden;
  }

  .background-img {
    background-image: url(images/header-background2.jpg);
    background-repeat: no-repeat;
    background-position-y: 40%;
    background-position-x: 10%;
    background-size: cover;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewY(-4deg);
    transform-origin: top left;
    position: absolute;
    
  }

  h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 50px;
    padding: 10px 20px;
    text-transform: uppercase;
    position: absolute;
    right: 30px;
    top: 30px;
    text-align: right;
    display: inline-block;
    background-color: white;
    z-index: 9;
}




.hide {
    display: none;
}

.descriptive {
    color: #ba4432;
    font-weight: 600;
    line-height: 1.6em;
    font-size: 18px;
}

.contact ul li {
    font-size: 18px;
}

p {
    font-weight: 400;
    margin: 1em 0em;
    line-height: 1.6em;
}

h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 36px;
}

h2 {
    text-transform: uppercase;
}

nav ul {
    display: inline-block;
    text-align: right;
    position: absolute;
    top: 124px;
    right: 30px;
}

nav ul li {
    background-color: white;
    color: black;
    list-style-type: none;
    margin: 10px 0px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase; 
    position: relative;
    padding: none;
    
}

nav a {
    text-decoration: none;
    color: black;
    padding: 10px 20px 10px 143px;
    display: inline-block;
}

nav ul li:hover {
    background: rgba(255, 255, 255, 0.519);  
}

nav ul li {
    animation: one-fall .4s ease-out 0s 1 normal forwards;
} 

@keyframes one-fall {
    0% {top: -800px;}
    100% {top: 0px}}
    




/* main styling */

main {
    display: grid;
    grid-template-columns: 30px repeat(14, 1fr) 30px;
    grid-template-rows: auto auto;
}

.about {
    grid-column: 3/9;
    grid-row: 1;
    margin-top: 30px;
}

.about h2 {
    border-bottom: 4px solid black;
    margin-bottom: 10px;
}

.contact {
    grid-column: 10/15;
    align-self: center;
}

.contact li {
    list-style-type: none;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 10px;
}

.contact a {
    color: #ba4432;
    text-decoration: none;
}

li img {
    vertical-align: middle;
    margin-right: 10px;
    height: 40px;
}



.portfolio {
    grid-row: 2;
    grid-column: 3/14;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 50px;
    margin-bottom: 400px;
    
}
.portfolio h2 {
    text-align: right;
    grid-column: 10/13;
    display: block;
    border-bottom: 4px solid black;
    margin-bottom: 10px;
    align-self: top;
}

.portfolio > .descriptive {
    grid-column: 10/14;
    text-align: right;
    grid-row: 2;
    margin-top: 20px;

 }
 .quiz-info {
    grid-column: 1/8;
    order: 5;
 }
 
 

.proj-box  {
    grid-column: 1/8;
    align-self: start;
    border: 1px solid black;
    padding: 0px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-row: 1/3;
    background-image: url(images/office-quiz.png);
    background-size: cover;
    color: white;
    width: 100%;
    
}

button a {
    text-decoration: none;
    color: white;
}

button:hover {
    border: 2px solid #ba4432;
}



.proj-box h3 {
    display: block;
    background-color: rgba(56, 56, 56, 0.712);
    padding: 10px;
    margin-bottom: 0px;
}

.proj-info {
    background-color: rgba(56, 56, 56, 0.712);
    padding: 0px 10px 10px 10px;
    margin-top: 0px;
}

button {
border: 2px solid white;
border-radius: none;
display: inline-block;
padding: 10px;
background: transparent;
margin-right: 15px;
width: 90px;
font-size: 18px;
color: white;
}

.contact h2 {
    display: inline-block;
    border-bottom: 4px solid black;
    margin-bottom: 40px;
    margin-top: 0;
    padding-top: 0;
    grid-column: 10/13;
}



/* media queries */

@media screen  and (max-width: 960px) {

.descriptive, .contact ul li  {
    font-size: 18px;
}

.contact-text {
    font-size: 16px;
}

.portfolio > .descriptive {
    grid-column: 11 / 14
}

.about {
    grid-column: 2/9;
}

.portfolio {
    grid-column: 2/16;
}
}

@media screen and (max-width: 650px) {
  h1 {
      font-size: 40px;
      padding: 8px 18px;
  }

  li {
    font-size: 20px;
   
  }
  header {
      height: 400px;
}

.proj-box {
    background-image: url(images/office-quiz-mobile.png);
}

.contact h2 {
    display: inline-block;
}

main {
    display: block;
    padding: 0px 30px;
}

.portfolio {
    display: block;
    margin-bottom: 50px;
}

.portfolio > .descriptive{
    text-align: left;
}

.contact-text {
    display: inline-block;
}

.contact ul li {
    padding-left: 0;
    margin-left: 0;
}

.quiz-info {
    display: block;
    font-weight: 400;
    color: black;
    
}

.portfolio h2 {
    text-align: left;
}

}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 30px;
    }

   

    nav ul li {
        color: black;
        list-style-type: none;
        margin: 0px 0px 10px 0px;
        font-size: 20px;
        text-transform: uppercase; 
        padding: none;
    
    }

    nav a {
        padding: 6px 20px 6px 80px;
    }
   
}

@media screen and (max-width: 350px) {
    h1 {
        font-size: 28px;
    }
}

